# make sure your phone and computer is on the same network 
EXPO_PUBLIC_API_URL="http://youriphere" 
EXPO_PUBLIC_COGNITO_DOMAIN="us-east-2hrmkv95ev.auth.us-east-2.amazoncognito.com"
EXPO_PUBLIC_COGNITO_USER_POOL_ID="us-east-2_hrmKv95ev"
EXPO_PUBLIC_COGNITO_CLIENT_ID="2b5rc445sdhleckv3ml35ol5ad"